@{
    ViewData["Title"] = "Support";
}
<div class="row">
    <div class="content-page col-12">
        <h1>@ViewData["Title"]</h1>

        <p>
            Please ask your question on <a href="https://stackoverflow.com">Stack Overflow</a> and email a link to <a href="mailto:support@itfoxtec.com?subject=FoxIDs">support@itfoxtec.com</a> for me to answer.
        </p>

    </div>
</div>

