@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar fixed-bottom navbar-light bg-light navbar-cookie" role="alert">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <span class="navbar-text">
                        Our site uses cookies to make our site work the way you expect it to and to analyze our traffic accordance to our <a asp-action="Privacy">privacy & cookies policy</a>.
                    </span>
                </div>
                <div class="col">
                    <span class="navbar-text">
                        <button type="button" class="btn btn-primary navbar-btn" data-cookie-string="@cookieString">Accept all cookies</button>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("d-none");
            }, false);
        })();
    </script>
}