/*
    10px = 0.625rem
    15px = 0.94rem
    20px = 1.25rem
    30px = 1.875rem
    40px = 2.5rem
    80px = 5rem
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 1.25rem;
    margin-bottom: 30px;
}

a {
    color: #df8935;
}

    a:hover {
        color: #d87513;
    }

code {
    color: #212529 !important;
}

/* Menu */
.navbar .navbar-brand {
    font-size: 4.2rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fc7e01;
}

    .navbar .navbar-brand:hover,
    .navbar-brand:focus {
        color: #f78f1e !important;
    }

.navbar-cookie {
    background-color: #d8dde3 !important
}


.content-container {
    padding: 2.5rem 0.94rem 5rem 0.94rem;
}

.brand-container {
    padding-top: 3.5rem;
}

@media (max-height:600px) {
    .brand-container {
        padding-top: 1.35rem;
    }
}

.brand-content-text {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fc7e01;
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 60px;
    color: #6c757d;
    font-family: MarkOT;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}