/*
    10px = 0.625rem
    15px = 0.94rem
    20px = 1.25rem
    30px = 1.875rem
    40px = 2.5rem
    80px = 5rem
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 1.25rem;
    margin-bottom: 30px;
}

a {
    color: #df8935 !important;
}

    a:hover {
        color: #d87513 !important;
    }

code {
    color: #212529 !important;
    background-color: #efefef;
    font-size: 85%;
}

/* Menu */
.navbar {
    padding: 0;
}

.nav-link {
    padding: 0.2rem;
}

@media (min-width: 768px) {
    .nav-link {
        padding: 0.5rem;
    }

    .navbar .navbar-toggler {
        margin-top: 1.35rem !important;
    }

    .navbar .navbar-nav {
        margin-top: 0.6rem !important;
    }

    .navbar .flag-menu {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }
}

.navbar .flag-menu {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}

.navbar .navbar-nav > li {
    padding-left: 1.25rem;
}

    .navbar .navbar-nav > li > a {
        color: #333 !important;
        font-size: 1.5rem;
    }

        .navbar .navbar-nav > li > a:hover,
        .navbar .navbar-nav > li > a:focus {
            color: #d87513 !important;
        }

.navbar .navbar-brand {
    font-size: 4.2rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fc7e01 !important;
}

    .navbar .navbar-brand:hover,
    .navbar-brand:focus {
        color: #fc7e01 !important;
    }

.navbar-cookie {
    background-color: #d8dde3 !important
}

.content-container {
    padding: 2.5rem 1rem 5rem 1rem;
}

.brand-container {
    padding-top: 3.5rem;
}

@media (max-height:600px) {
    .brand-container {
        padding-top: 1.35rem;
    }
}
/*
.brand-content-text {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fc7e01;
}*/

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 60px;
    color: #6c757d;
    font-family: MarkOT;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.btn-primary {
    background-color: #f19031;
    border-color: #f19031;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #ea7c0f;
        border-color: #ea7c0f;
    }

    .btn-primary.focus, .btn-primary:focus {
        color: #fff;
        background-color: #ea7c0f;
        border-color: #ea7c0f;
    }

    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #e4b485;
        border-color: #e4b485;
    }

    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(223, 137, 53, 0.25);
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        background-color: #ea7c0f;
        border-color: #ea7c0f;
    }

.btn-light {
    border-color: #dae0e5;
}

.btn-link {
    color: #df8935;
}

    .btn-link:hover {
        color: #d87513;
    }

    .btn-link:not(:disabled):not(.disabled):active, .btn-link:not(:disabled):not(.disabled).active,
    .show > .btn-link.dropdown-toggle {
        color: #d87513;
    }

        .btn-link:not(:disabled):not(.disabled):active:focus, .btn-link:not(:disabled):not(.disabled).active:focus,
        .show > .btn-link.dropdown-toggle:focus {
            box-shadow: 0 0 0 0;
        }

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(223, 137, 53, 0.25);
}

.content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    font-weight: 600;
}

.content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    margin-top: 1.8em;
}

.content-page h1 {
    font-size: 2.25em;
    line-height: 1.1;
    letter-spacing: -.03em;
}

.content-page h2 {
    font-size: 1.5em;
}

.content-page h3 {
    font-size: 1.25em;
}

.content-page h4 {
    font-size: 1em;
}

.content-page img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    border-left: 6px solid #f78f1e;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0rem;
    background-color: #e7ebef;
}

    blockquote h1 {
        margin-top: 0;
        margin-bottom: .8rem;
        font-weight: 300;
        font-size: 1.75rem;
    }

    blockquote ul {
        padding: 0 !important;
        padding: 0 0 0.5rem 0;
        margin: -0.5rem 0 0 0;
    }

        blockquote ul li {
            list-style: none !important;
            padding: 0.2rem 0 0.2rem 0rem !important;
        }

            blockquote ul li ul li {
                padding: 0.2rem 0 0.2rem 0.8rem !important;
            }

                blockquote ul li ul li:last-child {
                    padding: 0.2rem 0 0rem 0.8rem !important;
                }

    blockquote li:before {
        display: none;
    }

.content-page blockquote {
    background-color: transparent;
    padding-left: 1.2rem;
}

    .content-page blockquote p {
        margin-bottom: 0;
    }

.content-page .anchor-heading .anchor-link {
    display: inline-block;
    padding-left: .25rem;
    text-decoration: none;
    opacity: 0;
    transition: opacity ease-in-out .25s;
}

    .content-page .anchor-heading .anchor-link:hover {
        opacity: 1 !important;
    }

    .content-page .anchor-heading:hover .anchor-link {
        opacity: .5;
    }

/* Print */
@media print {
    @page {
        margin-top: 1.6cm;
        margin-bottom: 1.6cm;
        margin-left: 1.1cm;
        margin-right: 1.1cm;
    }

    .hidden-print {
        display: none;
    }

    .footer {
        display: none;
    }

    .col-print-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    a[href*='//']:after {
        content: " (" attr(href) ")";
        font-size: small;
    }

    blockquote {
        border-top: none;
        border-right: none;
        border-bottom: none;
    }

    .print-page-brake {
        page-break-before: always;
    }
}