@{
    ViewData["Title"] = "Privacy & Cookies";
}
<h1>@ViewData["Title"]</h1>

<p>
    A cookie is a small text file. It is stored on your computer, tablet or mobile phone in order to recognize it, remember settings, perform statistics and target ads. There is no personal information stored in our cookies and they do not contain viruses.
</p>
<p>
    A cookie is a term for a user's behavior on a network registered by the user himself, on the device used. In this way, the server knows who the user is at a possible next visit same place.
</p>
<p>
    The site uses cookies for the purpose of optimizing the website and its functionality. In order to make your visit to the site as easy as possible.
</p>
<p>
    When you visit the site, information about you is collected. The information is used to customize and improve our content and to increase the value of the ads displayed on the page. If you do not want information to be collected, you should delete your cookies
    (see instructions) and refrain from further use of the website. Below we have elaborated on what information is collected, their purpose and which third parties have access to it.
</p>
<p>
    You always have the option to delete cookies from your computer.
</p>

<h4>How do you delete or block cookies?</h4>
<p>
    If you delete or block cookies, ads may become less relevant to you and appear more frequently. You can also risk that the website does not work optimally and that there is content that you can not
    get access to. The site recommends that you do not delete or block cookies to achieve optimal use of the site.
</p>

<h4>Purpose of cookies on the website</h4>
<p>
    Cookies are used to keep statistics on the number of users.
</p>

<h4>Google Analytics & Microsoft Azure Application insights</h4>
<p>
    The site uses cookies from Google Analytics to measure the traffic on the website.
</p>
<p>
    You can opt out of Google Analytics cookies <a href="http://tools.google.com/dlpage/gaoptout">here</a>.
</p>

<h4>Application Insights</h4>
<p>
    Microsoft debug and audit log <a href="https://docs.microsoft.com/en-us/azure/application-insights/app-insights-data-retention-privacy">Data Retention Privacy</a> & <a href="https://docs.microsoft.com/en-us/azure/application-insights/app-insights-troubleshoot-faq">Troubleshoot FAQ</a>.
</p>


